@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "partials/form";

body {
  min-height: 500px;
  font-family: 'Lato';
  margin-bottom: 50px;
}

.fa-btn {
  margin-right: 6px;
}

img {
  max-width: 100%;
}

.gallery-img {
  margin-bottom: 1em;
}